<div class="selection-mode-header">
	
	<h2 class="sub-title">Selection options</h2>

	<div class="selection-mode-options">
		<button class="mark-as mark-as-read badge-background btn">
			Mark as read
		</button>
		<button class="mark-as remove-read badge-background btn">
			Remove "read" status
		</button>
	</div>

</div>