<div class="section settings details-inner">
	<div class="setting-wrapper" data-setting="reader-direction">
		<label>Reader type</label>
		<div class="setting boxes">
			<div class="setting-box" data-value="long-strip">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
				Long strip
			</div>
			<div class="setting-box" data-value="vertical">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
				Vertical
			</div>
			<div class="setting-box" data-value="horizontal">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"> <circle cx="12" cy="12" r="1"></circle> <circle cx="19" cy="12" r="1"></circle> <circle cx="5" cy="12" r="1"></circle></svg>
				Left to right
			</div>
			<div class="setting-box" data-value="horizontal-reversed">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"> <circle cx="12" cy="12" r="1"></circle> <circle cx="19" cy="12" r="1"></circle> <circle cx="5" cy="12" r="1"></circle></svg>
				Right to left
			</div>
		</div>
	</div>
	<div class="setting-wrapper" data-setting="image-scaling">
		<label>Image scaling</label>
		<div class="setting boxes">
			<div class="setting-box" data-value="height">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"class="feather feather-more-vertical"><circle cx="12" cy="12" r="1"></circle><circle cx="12" cy="5" r="1"></circle><circle cx="12" cy="19" r="1"></circle></svg>
				Fit to height
			</div>
			<div class="setting-box" data-value="width">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-more-horizontal"> <circle cx="12" cy="12" r="1"></circle> <circle cx="19" cy="12" r="1"></circle> <circle cx="5" cy="12" r="1"></circle></svg>
				Fit to width
			</div>
		</div>
	</div>
	<div class="setting-wrapper" data-setting="back-location">
		<label>Back-button location</label>
		<div class="setting boxes small">
			<div class="setting-box" data-value="top-left">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-left"><line x1="17" y1="17" x2="7" y2="7"></line><polyline points="7 17 7 7 17 7"></polyline></svg>
			</div>
			<div class="setting-box" data-value="bottom-left">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-left"><line x1="17" y1="7" x2="7" y2="17"></line><polyline points="17 17 7 17 7 7"></polyline></svg>
			</div>
			<div class="setting-box" data-value="top-right">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-up-right"><line x1="7" y1="17" x2="17" y2="7"></line><polyline points="7 7 17 7 17 17"></polyline></svg>
			</div>
			<div class="setting-box" data-value="bottom-right">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-down-right"><line x1="7" y1="7" x2="17" y2="17"></line><polyline points="17 7 17 17 7 17"></polyline></svg>
			</div>
		</div>
	</div>
	<div class="setting-wrapper" data-setting="vertical-image-size">
		<label>Image scaling in long strips</label>
		<div class="setting boxes small">
			<div class="setting-box" data-value="full-height">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-move"><polyline points="9 5 12 2 15 5"></polyline><polyline points="15 19 12 22 9 19"></polyline></polyline><line x1="12" y1="2" x2="12" y2="22"></line></svg>
			</div>
			<div class="setting-box" data-value="auto">
				Auto
			</div>
			<div class="setting-box" data-value="full-width">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-move"><polyline points="5 9 2 12 5 15"></polyline><polyline points="19 9 22 12 19 15"></polyline><line x1="2" y1="12" x2="22" y2="12"></line></svg>
			</div>
		</div>
	</div>
	<div class="setting-wrapper toggle" data-setting="double-pages">
		<label>Book layout</label>
		<input type="checkbox" class="switch" data-true="yes" data-false="no" />
	</div>
	<div class="setting-wrapper toggle" data-setting="tap-navigation">
		<label>Tap left / right</label>
		<input type="checkbox" class="switch" data-true="yes" data-false="no" />
	</div>
	<div class="setting-wrapper toggle" data-setting="vertical-gap">
		<label>Gap in vertical reader</label>
		<input type="checkbox" class="switch" data-true="yes" data-false="no" />
	</div>
	<div class="setting-wrapper toggle" data-setting="do-toggle-alt">
		<label>Tap to toggle status bar</label>
		<input type="checkbox" class="switch" data-true="yes" data-false="no" />
	</div>
	<div class="setting-wrapper toggle" data-setting="show-info-badge">
		<label>Show information badge</label>
		<input type="checkbox" class="switch" data-true="yes" data-false="no" />
	</div>
	<div class="setting-wrapper toggle" data-setting="show-camera-button">
		<label>Show camera button</label>
		<input type="checkbox" class="switch" data-true="yes" data-false="no" />
	</div>
	<div class="setting-wrapper toggle" data-setting="enable-keyboard-controls">
		<label>Keyboard controls</label>
		<input type="checkbox" class="switch" data-true="yes" data-false="no" />
	</div>
</div>