<!DOCTYPE html>
<html>
	<head>
		<title>Manga</title>
		<link rel="stylesheet" href="/main.css">
	</head>
	<body>
		<div class="wrapper-all">
			<aside class="sidebar main-sidebar">
				
			</aside>
			<div class="content-wrapper">
				{{{ body }}}
			</div>
		</div>
	</body>
</html>