<!DOCTYPE html>
<html>
	<head>
		<title>Manga</title>
		<link rel="stylesheet" href="/main.css">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, shrink-to-fit=no, user-scalable=no" />
	</head>
	<body>
		<div class="wrapper-all">
			<aside class="sidebar main-sidebar">
				<div class="section logo">
					<a href="/"><img alt="Logo" src="http://via.placeholder.com/300x100/fff/8080c0?text=Manga%20app"></a>
				</div>
				<div class="section search">
					<label for="search">Search</label>
					<input type="text" placeholder="Fire Force" id="search" value="{{query}}">
				</div>
			</aside>
			<div class="content-wrapper">
				{{{ body }}}
			</div>
		</div>
		<script src="/universal.js"></script>
	</body>
</html>