<div class="content-inner">
	<h1 class="title">Backups</h1>
	
	<div class="backups">
		{{#each backups}}
		<div class="backup" data-backup="{{fileName}}">
			<span>{{label}}</span>
			<button class="badge-background btn">Restore</button>
		</div>
		{{/each}}
	</div>

</div>

<script src="/js/backups.js"></script>