<div class="content-inner">
	<h1 class="title">Manga thing</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipiscing elit ad varius habitant dis, suspendisse aliquam leo congue gravida semper non ante taciti sem commodo senectus, etiam integer lacinia donec pharetra eleifend morbi mus vulputate cras.</p>

	{{#if reading}}
	<section class="section continue-reading">
		<h2 class="sub-title">Continue reading</h2>
		<div class="manga-grid">
			
			{{#each reading}}
			{{> manga-card manga=this toChapter=true}}
			{{/each}}

		</div>
	</section>
	{{/if}}
	{{#each lists}}
	{{> list list=this}}
	{{/each}}
	<section class="section popular">
		<h2 class="sub-title">Popular right now</h2>
		<div class="manga-grid">
		{{#each popular}}
			{{>manga-card manga=this}}
		{{/each}}
		</div>
	</section>

</div>