<div class="content-inner">
	<h1 class="title">Manga thing</h1>
	<p>Lorem ipsum dolor sit amet consectetur adipiscing elit ad varius habitant dis, suspendisse aliquam leo congue gravida semper non ante taciti sem commodo senectus, etiam integer lacinia donec pharetra eleifend morbi mus vulputate cras.</p>

	<section class="section continue-reading">
		<h2 class="sub-title">Continue reading</h2>
		<div class="manga-grid">

			<div class="manga-card">
				<img alt="Poster" src="https://cover.mangabeast01.com/cover/Fire-Brigade-Of-Flames.jpg" class="poster">
				<div class="manga-meta">
					<p class="progress">Season 1, chapter 129</p>
					<h2 class="title-small">Fire Force</h2>
				</div>
			</div>

			<div class="manga-card">
				<img alt="Poster" src="https://cover.mangabeast01.com/cover/Dr-Stone.jpg" class="poster">
				<div class="manga-meta">
					<p class="progress">Season 1, chapter 25</p>
					<h2 class="title-small">Dr. Stone</h2>
				</div>
			</div>

			<div class="manga-card">
				<img alt="Poster" src="https://cover.mangabeast01.com/cover/Yokohama-Kaidashi-Kikou.jpg" class="poster">
				<div class="manga-meta">
					<p class="progress">Season 1, story 30</p>
					<h2 class="title-small">Yokohama Kaidashi Kikou</h2>
				</div>
			</div>

			<div class="manga-card">
				<img alt="Poster" src="https://cover.mangabeast01.com/cover/Seirei-Gensouki.jpg" class="poster">
				<div class="manga-meta">
					<p class="progress">Season 1, chapter 2</p>
					<h2 class="title-small">Seirei Gensouki - Konna Sekai de Deaeta Kimi ni (MINAZUKI Futago)</h2>
				</div>
			</div>

			<div class="manga-card">
				<img alt="Poster" src="https://cover.mangabeast01.com/cover/Dungeon-Ni-Deai-Sword-Oratoria.jpg" class="poster">
				<div class="manga-meta">
					<p class="progress">Season 1, chapter 2</p>
					<h2 class="title-small">Dungeon ni Deai wo Motomeru no wa Machigatte Iru Darou ka Gaiden - Sword Oratoria</h2>
				</div>
			</div>

		</div>
	</section>
	<section class="section popular">
		<h2 class="sub-title">Popular right now</h2>
		<div class="manga-grid">
		{{#each popular}}
			{{>manga-card manga=this}}
		{{/each}}
		</div>
	</section>

</div>