<section class="manga-reader">
	<div class="pages">
		{{#each data.data.chapterImages}}
		<img alt="Page" src="{{this}}" class="pageImg">
		{{/each}}
	</div>
</section>
<script src="/reader.js"></script>