
<div class="content-inner">
	<section class="section search-results" data-list-id="search">
		<h2 class="sub-title spread do-spread"><span>{{searchResults.length}} search results for "{{query}}"</span>{{> list-type }}</h2>
		<div class="manga-grid">
			{{#each searchResults}}
			{{> manga-card manga=this }}
			{{/each}}
		</div>
	</section>
</div>


<script src="/js/list-type.js"></script>