
<link rel="stylesheet" href="/css/search.css">

<div class="content-inner">
	<h1 class="title">Search</h1>

	<div class="search-input">
		<input type="text" placeholder="Fire Force" id="search-2" value="{{query}}" class="search-input" aria-label="Search">
	</div>

	<section class="section search-results" data-list-id="search">
		<h2 class="sub-title spread do-spread"><span>
			{{#if query}}
			{{searchResults.length}} search result(s) for "{{query}}"
			{{else}}
			Popular right now
			{{/if}}
		</span>{{> list-type }}</h2>
		<div class="manga-grid">
			{{#each searchResults}}
			{{> manga-card manga=this }}
			{{/each}}
		</div>
	</section>
</div>


<script src="/js/pages/search.js"></script>
<script src="/js/reusable/list-type.js"></script>