
<div class="content-inner">
	<p>This is the search page</p>
	<section class="section search-results">
		<h2 class="sub-title">{{searchResults.length}} search results for "{{query}}"</h2>
		<div class="manga-grid">
			{{#each searchResults}}
			{{> manga-card manga=this }}
			{{/each}}
		</div>
	</section>
</div>

