:root {
	--body: #FBFBFB;
	--body-offset: #f5f7f9;
	
	--text: #333;
	--text-secondary: #7D7D7D;

	--border: rgba(0, 0, 10, 0.05);
	--border-dark: rgba(0, 0, 10, 0.1);

}

@media (prefers-color-scheme: dark) {
	:root {
		--body: #191919;
		--body-offset: #242424;
		--text: #fcfcfc;
		--text-secondary: #e2e2e2;
	}
}

body {
	margin: 0;
	color: var(--text-secondary);
	background: var(--body);
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/* Layout */
.wrapper-all {
	display: grid;
	grid-template-columns: 300px 1fr;
}
.content-wrapper {
	display: flex;
	justify-content: center;
	align-items: flex-start;
}
.content-inner {
	width: calc(100% - 40px);
	max-width: 1000px;
	margin: 80px 0;
}
.content-inner .section + .section {
	margin: 50px 0;
}

/* Sidebar */
aside.main-sidebar {
	width: 100%;
	height: 100vh;
	max-height: 100vh;
	overflow-y: auto;
	background: var(--body-offset);
	position: sticky;
	top: 0;
	box-sizing: border-box;
	padding: 20px;
}
aside.main-sidebar > * + * {
	margin-top: 20px;
}
aside .logo img {
	width: 100%;
	border: 1px solid var(--border-dark);
	border-radius: 4px;
}

/* Util */
.title {
	margin: 0;
	color: var(--text);
}
.sub-title {
	color: var(--text);
	margin-top: 0;
}

label ~ input {
	margin-top: 5px;
}
input, textarea {
	font-size: 1rem;
	box-sizing: border-box;
	width: 100%;
	border: 1px solid var(--border-dark);
	border-radius: 4px;
	padding: 5px 8px;
}

/* Manga grid layout */
.manga-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
	grid-gap: 30px 10px;
}

/* Manga items */
.manga-card {
	width: 100%;
	display: grid;
	grid-template-columns: 100%;
	grid-gap: 15px;
	grid-template-rows: auto 1fr;
}
.manga-card .to-manga {
	/* Href */
	color: var(--color);
	text-decoration: none;
}
.manga-card .to-manga:hover {
	text-decoration: underline;
}
.manga-card .poster {
	width: 100%;
	box-sizing: border-box;
	border: 1px solid var(--border);
	border-radius: 6px;
	display: block;
	height: 288px;
	object-fit: contain;
	background: var(--border);
}
.manga-card .manga-meta {
	height: 100%;
}
.manga-card .manga-meta > * {
	margin: 0;
}
.manga-card .manga-meta > *:first-child {
	margin-bottom: 5px;
}
.manga-card .title-small {
	margin: 0;
	color: var(--text);
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	overflow-y: hidden;
}

/* Responsiveness */
@media screen and (max-width: 700px) {
	.wrapper-all {
		grid-template-columns: 100%;
	}
	aside.main-sidebar {
		position: initial;
		height: auto;
	}

	/* Cards */
	.manga-card {
		grid-template-columns: 100px 1fr;
		grid-template-rows: auto;
		align-items: center;
	}
	.manga-card .poster {
		height: auto;
	}
	.manga-card .manga-meta {
		height: auto;
	}
}