@import 'tailwindcss';

html,
body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: 'Ubuntu', sans-serif;
  overflow-x: hidden;
  min-height: 100svh;
}

@theme {
  --color-stroke-50: #f5f9fb;
  --color-stroke-100: #E6E8E9;
  --color-stroke-200: #D8D7DD;
  /** These aren't actually 100-200 in the traditional sense, I just need more than one stroke type lol */
  --color-stroke-accent: #B6D8E8;
  --color-shadow: rgba(107, 108, 123, 0.1);
  --color-shadow-2: rgba(0, 0, 0, 0.05);

  --color-gradient-start: rgba(169, 209, 255, 0.35);
  --color-header-gradient-start: #B5B2F9;

  --color-logo-accent: #1A3836;
  /* --color-accent: #4babce; */
  --color-accent: #3C65EB;
  --color-accent-hover: #2f52c3;
  --color-text-on-accent: white;

  /* --color-secondary-bg: #F1F3F6; */
  --color-text-on-secondary: #706E7B;

  --color-text: #191828;
  --color-text-light: #737A94;
  --color-text-lighter: #ABABAF;
  --color-text-accent: #3D4198;

  --color-bg: white;
  --color-hover-bg: #3D4198;

  --color-secondary-bg: #FBFAFA;

  --shadow-custom: 0 3px 8px var(--color-shadow);
  --shadow-custom-input: 0 1px 2px var(--color-shadow-2);
}

@media(prefers-color-scheme: dark) {
  body {
    --color-bg: black;
    --color-hover-bg: #191919;
    --color-secondary-bg: #15151a;

    --color-text: ghostwhite;
    --color-text-light: #737A94;
    --color-text-lighter: #737A94;

    --color-stroke-100: black;
    --color-stroke-200: #23222d;
  }
}